<%= link_to "Create Today Report", new_reports_url %>
<br>
<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<br>

<h3>GUIDE | HOW TO USE THIS TOOL</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/O_zRzaIyLw4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
