<div>
  <%= ff.text_field :task, placeholder: "Task - Require" %>
  <%= ff.text_field :actual, placeholder: "Actual" %>
  <%= ff.number_field :percent, placeholder: "Percent - Require" %>
  <%= link_to "Delete this row", '#', class: "btn-delete-report-detail" %>
</div>
